@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 550px;
  margin: auto;
}

/* DESIGN STARTS HERE */

/* NAVBAR STARTS HERE */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222a;
}
.nav-h4 {
  color: #fff;
  font-size: 16px;
  margin-right: 16px;
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 27%;
  align-items: center;
  margin-left: 16px;
}
.logo > h3 {
  color: #61dafb;
  font-weight: bold;
  font-size: 22.25px;
}

/* MAIN STARTS HERE */

.main-container {
  background-color: #282d35;
  color: #fff;
  height: 459px;
  background-image: url("../public/Group.png");
  background-repeat: no-repeat;
  background-position: 420px;
}
.main-h1 {
  font-size: 39.06px;
  font-weight: bold;
  margin-left: 16px;
  padding-top: 60px;
}

.main-ul {
  font-size: 16px;
  margin-left: 16px;
  width: 70%;
}
.main-li::marker {
  color: #61dafb;
  font-size: 1.6rem;
}
/* marker iig surch awlaa  */
